name: Build YOLOv9 ONNX

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set build args
      run: |
        echo "MODEL_SIZE=t" >> $GITHUB_ENV
        echo "IMG_SIZE=320" >> $GITHUB_ENV

    - name: Build YOLOv9 ONNX with Docker
      run: |
        docker build . \
          --build-arg MODEL_SIZE=$MODEL_SIZE \
          --build-arg IMG_SIZE=$IMG_SIZE \
          --output . \
          -f- <<'EOF'
        FROM python:3.11 AS build
        RUN apt-get update && apt-get install --no-install-recommends -y libgl1 && rm -rf /var/lib/apt/lists/*
        COPY --from=ghcr.io/astral-sh/uv:0.8.0 /uv /bin/
        WORKDIR /yolov9
        ADD https://github.com/WongKinYiu/yolov9.git .
        RUN uv pip install --system -r requirements.txt
        RUN uv pip install --system onnx==1.18.0 onnxruntime onnx-simplifier>=0.4.1 onnxscript==0.1.0 torch==2.2.0 torchvision==0.17.0
        ARG MODEL_SIZE
        ARG IMG_SIZE
        ADD https://github.com/WongKinYiu/yolov9/releases/download/v0.1/yolov9-${MODEL_SIZE}-converted.pt yolov9-${MODEL_SIZE}.pt
        RUN sed -i "s/ckpt = torch.load(attempt_download(w), map_location='cpu')/ckpt = torch.load(attempt_download(w), map_location='cpu', weights_only=False)/g" models/experimental.py
        RUN python3 export.py --weights ./yolov9-${MODEL_SIZE}.pt --imgsz ${IMG_SIZE} ${IMG_SIZE} --simplify --include onnx --device cpu
        FROM scratch
        ARG MODEL_SIZE
        ARG IMG_SIZE
        COPY --from=build /yolov9/yolov9-${MODEL_SIZE}.onnx /yolov9-${MODEL_SIZE}-${IMG_SIZE}.onnx
        EOF

    - name: Upload ONNX Artifact
      uses: actions/upload-artifact@v4
      with:
        name: yolov9-onnx
        path: yolov9-*.onnx
